@{
    ViewData["Title"] = "About";
}
     
       <div class="contents" style="background-color:#F0F0F0;">
          <div class="container-fluid" style="margin:0 auto;background-color:#F0F0F0;">
  
                   <div class="title title-container" >
                    <div class="tar-logo"></div>     
                    <div class="s-ti">  <span>Technical Assistance Report</span> </div>
                    <div class="sub"> <span>A Place to find solutions for all your issues</span> </div>
                  </div> 

            <h3  style="padding:5px;margin-left:3%;font-size: 30px;text-align: left; color: #7f8fa4;"> Help to decide severity </h3>
            <div class="w3-white" style="width: 94%;margin-left:3%;">
                

                <table class="w3-table" style="padding:3px;font-size: 15px;">
                    <thead style="border-bottom: 1px solid;border-color: #F0F0F0;">
                    <tr>
                        <td width="11.50%" style="font-size: 16px; font-weight: 500; text-align: left; color: #7f8fa4;">
                            <p><strong>Label</strong></p>
                        </td>
                        <td width="28.75%" style="font-size: 16px; font-weight: 500; text-align: left; color: #7f8fa4;">
                            <p><strong>Severity Definitions</strong></p>
                        </td>
                        <td width="18.53%" style="font-size: 16px; font-weight: 500; text-align: left; color: #7f8fa4;">
                            <p><strong>Initial Response Time Target </strong></p>
                        </td>
                        <td width="18.21%" style="font-size: 16px; font-weight: 500; text-align: left; color: #7f8fa4;">
                            <p><strong>Status Update Frequency</strong></p>
                        </td>
                        <td style="font-size: 16px; font-weight: 500; text-align: left; color: #7f8fa4;">
                            <p><strong>Mean Time to Restore</strong></p>
                        </td>
                    </tr>
                    </thead>
                    <tbody class="w3-bordered">
                    <tr>
                        <td width="11.50%" valign="top" style="font-family: OmnesATTII;font-size: 15px; font-weight: 500; line-height: 12.67; text-align: left; color: #354052;">
                            <p><strong>Severity 1</strong></p>
                        </td>
                        <td width="28.75%">
                            <p>System is down or N3N product completely inoperable impacting end users, business operations or the ability to administer the system, no acceptable workaround available.</p>
                            <p>N3N product is completely inaccessible or its functionality is unusable.</p>
                        </td>
                        <td width="18.53%">
                            <p>15 minutes</p>
                            <p>(24x7x365)</p>
                        </td>
                        <td width="18.21%">
                            <p>Every 30 minutes or as requested</p>
                            <p>(24x7x365)</p>
                        </td>
                        <td >
                            <p>2 hours</p>
                            <p>(24x7x365)</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="11.50%"  style="font-family: OmnesATTII;font-size: 15px; font-weight: 500; line-height: 12.67; text-align: left; color: #354052;">
                            <p><strong>Severity 2</strong></p>
                        </td>
                        <td width="28.75%">
                            <p>N3N Product operating in reduced capacity or partially unavailable impacting end users or the ability to administer the system, no workaround available.</p>
                            <p>One or more key features of N3N product are unusable.</p>
                        </td>
                        <td width="18.53%">
                            <p>15 minutes</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                        <td width="18.21%">
                            <p>Every 1 hour or as requested</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                        <td >
                            <p>24 hours</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                    </tr>
                    <tr >
                        <td width="11.50%"  style="font-family: OmnesATTII;font-size: 15px; font-weight: 500; line-height: 12.67; text-align: left; color: #354052;">
                            <p><strong>Severity 3</strong></p>
                        </td>
                        <td width="28.75%">
                            <p>Non-critical functionality loss, workaround exists. Single end user issues. Feature enhancement requests.</p>
                            <p>N3N product is not operating as documented.</p>
                        </td>
                        <td width="18.53%">
                            <p>15 minutes</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                        <td width="18.21%">
                            <p>Every 2 hours or as requested</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                        <td >
                            <p>72 Hours</p>
                            <p>(9x11 ET M-F; excluding holidays)</p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
         <div class="footer title-container" style="height:40px;">
                        <span style="margin-top:10px;color:black;">&copy;N3N 2018</span>
                  </div>

                  
        </div></div> 
  
                       