@{
    ViewData["Title"] = "Contact";
}
  <div class="contents" style="background-color:#F0F0F0;margin-top:0px;font-family: OmnesATTII;">  
            <div class="container-fluid" style="margin:0 auto;margin-top:0px;font-family: OmnesATTII;">
  
                  <div class="title title-container">
                    <div class="tar-logo"></div>     
                    <div class="s-ti">  <span>Technical Assistance Report</span> </div>
                    <div class="sub"> <span>A Place to find solutions for all your issues</span> </div>
                  </div>   

                   
         <div class="w3-white  w3-center" style="width: 94%;margin-left:3%;padding:2%;color: #7f8fa4;font-family: OmnesATTII;font-size: 16px;"> 
            
                     
            <img src="~/images/n3nlogo1.jpg" align="middle" height ="35" alt="Technical Assistance Report"/>  
           <br> <br>
                2833 Junction Ave #110  <br> 
                San Jose, CA 95134  
                <p> <abbr title="Phone">P:</abbr>800.N3N.2095 </p> 
            
                  
             
            
           
             <p>   <strong>Technical Support:</strong> <a style="coloe:black" href="mailto:support@n3n.io">support@n3n.io</a> </p> 
         </div>   
    

      
                     <div class="footer title-container" style="height:40px;font-family: OmnesATTII;font-size: 12px;">
                        <span style="margin-top:10px;color:black;">&copy;N3N 2018</span>
                  </div>  
                     
        
     </div> 
        </div>
                     